*{
    padding: 0;
    margin: 0;

}
@import url('http://fonts.cdnfonts.com/css/old-english-five');

html{
    /* font-family: 'Poppins', sans-serif; */
    font-family: Arial, Helvetica, old;
}

/* header */
.main .mynav{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: unset !important;
    z-index: 99;
    /* background: #0F3460; */
    background: #Fff;
    display: flex;
    justify-content: center;
    /* position: a; */

}
.main .mynav .nav_bar_nav{
    width: 100%;
    position: relative;
}
.main .mynav .nav_bar_nav .nav2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-flow: row-reverse; */
    position: relative;
}
.main .mynav .search{
    position: absolute;
    top: 20px;
    right: 0;
    transform: translate(0, -50%);
    /* position: relative; */
}
.main .mynav li{
    /* position: absolute; */
    list-style: none;
    right: 0px;
}
.main .mynav .logo{
    font-family: Arial, Helvetica, sans-serif !important;
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    pointer-events: none;
}

.main .mynav .navbar-nav .nav-item a{
    color: #000;
    font-weight: 600;
    /* font-size: 1.2rem; */
}
.main .mynav .navbar-nav #account{
    display: flex;
    align-items: center;
    cursor: pointer;
}
/* landing */
#pst-container div{
    color: #fff;
    font-size: 14px;
}


#landing #qad_logo{
    height: 110px;
    width: auto;
    margin-right: 10px;
}
#landing h3{
color: #fff;
font-size: 28px;
}
#landing .brand .top_brand span,
#landing .brand{
    font-family: Arial, Helvetica, sans-serif !important;
    transform: translate(0,-3px);
}
@font-face {
    font-family: yourfontname; 
    src: url("./old-english-five/Old\ English\ Five.ttf");
}
#landing .brand h3{
    font-family: 'Old English Five', sans-serif;
                                                
}
canvas{
    position: absolute;
}

#landing .brand .top_brand h3{
    font-size: 34px;
}
#landing .brand .my_guhit{
   width: 100%;
   max-width: 402px;
   height: 2px;
   display: block;
   background: #fff;
   transform: translate(0px, -4px);
}
#landing .brand .brand_span {
    font-size: 14px;
color: #fff;
}
#landing .brand .top_brand span:nth-child(1){
    transform: translate(0,5px);
}
#landing .brand .top_brand span:nth-child(2){
    transform: translate(0,1px);
    font-size: 20px;
}
#landing .mobile_column .date{
    margin: 0;
    margin-left: auto;
}
.main #forms li{
    list-style: none;

}
.main #forms li a{
    color: #0F3460;
}
.main .mynav{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
}
.main #navbarNav{
    transition: 0.3s ease-in-out;
}
.navbar-nav{

}
.main .navbar-nav li:nth-child(8){
    margin-left: auto;
}
.navbar-nav .flex-grow-last{

}
.navbar-nav .accounts{
}
#loginmodal #loginform{
    display: block;
}
#loginmodal #success{
    display: none;
}
#loginmodal.active #success{
    display: block;
}
#loginmodal.active #loginform{
    display: none;
}

#loginmodal.active #success{}

.carousel-control-prev .span{
    color: red;
}
.carousel .carousel-indicators #carouselExampleIndicators button{
    background-color: red !important;
}
.carousel .carousel-indicators button {
    background-color: rgb(63, 63, 63) !important;
  }
  .carousel .carousel-indicators .active {
    background-color: rgb(0, 0, 0);
  }
  #slider .quick_links li{
    list-style: none;
  }

  .dropdown-menu > li > a:hover {
    background-image: none;
    background-color: rgb(189, 189, 189);
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    animation: visible 0.3s ease-in-out;
 }
 .myul:hover{
    display: block !important;

 }
 @keyframes visible {
    0%{
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
 }
/* #particles-js .content h3{
    margin-bottom: 15px;
} */
#particles-js .content{
    font-family: 'Noto Serif Georgian', serif;
    line-height: 2;
}
#particles-js canvas {
    width: 100%;height: 82% !important;
}
canvas{display:block;vertical-align:bottom}
#particles-js{z-index:0;background:#000066;height:160px;position:relative}
#particles-js .landing-content-wrapper{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center;width:100%}
#particles-js .landing-content-wrapper h2{padding:0 10px;font-family:'Raleway', sans-serif;color:rgb(230, 217, 100);font-weight:400;font-size:22px}
#particles-js .landing-content-wrapper h2 span{color:#E31B6D;font-family:'Raleway', sans-serif;font-weight:600}@media screen and (min-width: 600px){#particles-js .landing-content-wrapper h2{font-size:43px}}
#particles-js .landing-content-wrapper a{text-decoration:none}#particles-js .landing-content-wrapper .landing-button{margin-top:20px;font-family:'Raleway', sans-serif;color:rgb(253, 28, 28);border:2px solid rgb(255, 3, 3);padding:7px 17px;background:none;font-size:19px;display:flex;align-items:center;justify-content:center;cursor:pointer;transition:0.3s ease-in}#particles-js .landing-content-wrapper .landing-button .arrow{padding-left:18px}#particles-js .landing-content-wrapper .landing-button .arrow i{transition:0.3s ease-in;font-size:15px}#particles-js .landing-content-wrapper .landing-button:hover{border:2px solid #E31B6D;background:#E31B6D}#particles-js .landing-content-wrapper .landing-button:hover i{transform:rotateZ(90deg)}@media screen and (min-width: 600px){#particles-js .landing-content-wrapper .landing-button{padding:13px 24px}}html{scroll-behavior:smooth}


@media screen and (max-width: 983px){
    #landing #qad_logo{
        height: 90px;
        width: auto;
        margin-right: 10px;
    }
    #landing h3{
    color: #fff;
    font-size: 21px;
    }
    #landing .brand .top_brand span{
        font-size: 14px;
    }
}
@media screen and (max-width: 625px){
    #landing #qad_logo{
        height: 70px;
        width: auto;
        margin-right: 10px;
    }
    #landing h3{
    color: #fff;
    font-size: 21px;
    }
    #landing .brand .top_brand span{
        font-size: 14px;
    }
}

/* SITE MAP */
.main .site-map p{
    padding: 10px;
    margin: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif !important;

}
/* slider */
.main #slider{
    /* height: 600px; */
}
.main #slider .carousel-item{
    /* height: 300px; */
    width: 100%;
}

/* quick links */

#quick_links_section .qc_wrapper h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#quick_links_section .qc_wrapper li{
    border-bottom: 1px solid gray;
    list-style: none;
}
#quick_links_section .qc_wrapper div{
    cursor: pointer;

}
#quick_links_section .qc_wrapper div img{
    height: 60px;
    width: 100%;
    
}
#quick_links_section .qc_wrapper div:nth-child(10) img{
    height: 120px;
    width: 150px;
}
#quick_links_section .qc_wrapper div:nth-child(9) img{
    height: 120px;
    width: 120px;
}
#quick_links_section .qc_wrapper li a{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

.main .system img{
    height: auto;
    width: 100%;
}


.main .footer_start{
    background: #fff;

}
.main .footer_start #counter{
    /* height: 400px; */
}
.main .footer_start .wrapper{
    margin-bottom: 20px;
}
.main .footer_start .wrapper a{
    font-size: 28px;
    text-decoration: none;

    font-weight: bold;
    font-style: italic;
    cursor: pointer;
}
.main .footer_start p{
    font-size: 18px;
}
.main .footer_start .contact_us_footer{
    cursor: pointer;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;

}
/* footer */
.main #footer .govphseal{
    height: auto;
    width: 100%;
    min-width: 140px;
}
.main #footer{
    display: grid;

    background: #000066;
}
.main #footer .footer_content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    column-gap: 30px;
    row-gap: 50px;
    grid-template-columns:140px  1fr;
}
.main #footer .footer_content div p{
    font-size: 10px;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 7px;
}
.main #footer .footer_content div span{
    line-height: normal;
    font-size: 12px;
    line-height: normal !important;

}
.main #footer .footer_content div a{
    margin-bottom: 5px;
}
.main #footer .footer_content div a{
    font-size: 12px;
    text-decoration: none;
    color: #999;
}

.main #footer .footer_content .footer_details{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: 250px 250px 170px 1fr; */
    /* grid-template-columns: 250px 250px 170px 1fr; */
    column-gap: 20px;
}
.main #footer .footer_content .rep,
.main #footer .footer_content .about,
.main #footer .footer_content .gov_link{
    width: 100%;
    max-width: 230px;

}
.main #footer .footer_content .rep{
    color: #999;
}
/* .main #footer .footer_content .about{
    justify-self:center;
} */
.main #footer .footer_content .about{
    color: #999;
}
/* .main #footer .footer_content .gov_link {
    justify-self: flex-end;

} */
.main #footer .footer_content .gov_link .links{
    display: flex;
    flex-direction: column;
}
.main #footer .footer_content .gov_link{
    color: #999;
}
.main #footer{
    width: 100%;
    /* max-width: 200px; */
}

.main #footer .footer_content .last{
    grid-column: 1/3;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 13px;
    color: #999;
}
.main #footer .footer_content .logos img.small_logo{
    height: 62px;
    width: 80px;
}
.main #footer .footer_content .logos img{
    height: auto;
    width: 60px;
}
.main #footer .footer_content .logos{
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}
.main #footer .footer_content .logos div:nth-child(4),
.main #footer .footer_content .logos div:nth-child(3){
    margin-left: 10px;
}
.dropdown-menu li {
    /* position: relative; */
    }



    @media screen and (min-width: 992px) {
        .dropdown .nav-link{
            pointer-events: none;
        }
        .dropdown:hover .collapse{
            pointer-events: auto;
            position: absolute;
            z-index: 1000;
            display: block;
            min-width: 10rem;
            padding: 0.5rem 0;
            margin: 0;
            font-size: 1rem;
            color: #212529;
            text-align: left;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0,0,0,.15);
            border-radius: 0.25rem;
       
            animation: visible 0.3s ease-in-out;
        }
        .dropdown .collapse.show{ 
            display: none !important;
        }
        .dropdown .myli{
            position: relative;
        }
        .dropdown #dropdown_child {
            display: none;
            position: absolute;
            left: 105%;
            top: -7px;
         
            }
            .dropdown #dropdown_spes {
                padding: 0;
                padding: 10px 0;
                /* right: 100%; */
                /* left: auto; */
                /* display: block; */
            }
            .dropdown .dropdown-item.national{
                position: relative;
            }
            .dropdown .myli:hover > #dropdown_child{
                display: block !important;
                cursor: pointer;
            }
            .dropdown .dropdown-item.national:hover{
              display: block;     
            }
            .main .mynav .nav_bar_nav{
                width: 100%;
                max-width: 1280px;
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
            .main .mynav .nav_bar_nav{
                width: 100%;
                max-width: 1280px;
                display: flex;
                justify-content: center;
                align-items: center;
                
            }

    }


  
    @media screen and (max-width: 1200px) {
        .main .mynav .nav_bar_nav .nav2{
            display: unset;
            justify-content: center;
            align-items: center;
        }
        .main .mynav{
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            /* position: unset !important; */
            z-index: 99;
            /* background: #0F3460; */
            background: #Fff;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
        .main .mynav li{
            justify-self: center;
            /* position: absolute; */
            list-style: none;
            /* margin: auto 0; */
        }
        .main .mynav .nav_bar_nav{
            width: 100%;
            display: unset;
            justify-content: center;
            align-items: center;
        }

        .main .mynav .nav2 .mybutton{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .main .mynav .navbar-toggler.collapsed.show{
            margin-top: 1rem;
        }
        #landing .brand .top_brand h3{
            font-size: 29px;
        }
        #landing .brand .my_guhit{
            width: 100%;
            max-width: 352px;
            height: 2px;
            display: block;
            background: #fff;
            transform: translate(0px, -4px);
         }
         .dropdown-menu{
            z-index: 1000;
            display: none;
            min-width: 10rem;
            padding: 0.5rem 0;
            margin: 0;
            font-size: 1rem;
            color: #212529;
            text-align: left;
            list-style: none;
            background-color: #fff ;
            background-clip: padding-box;
            border: none !important;
            border-radius:0 !important;
         }
         .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
            animation: mobile 0.3s ease-in-out;
         }
         @keyframes mobile {
            0%{
                height: 0;
            }
            100%{
                height: 100%;
            }
         }
    }
      
    /* nav */
    @media screen and (max-width: 904px) {
        #particles-js {
            text-align: center;
            z-index: 0;
            background: #000066;
            height: 301px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #landing .mobile_column{
            flex-direction: column;
        }
        #landing .mobile_column .date{
            margin: 0 auto;
            margin-top:15px;
        }
        #landing #qad_logo{
            height: 80px;
            width: auto;
            margin-right: 0px;
        }
        #landing .brand{
            margin-top: 15px;
        }
        #landing .brand .top_brand{
            justify-content: center;
        }
        #landing .brand .top_brand h3{
            font-size: 24px;
        }
        #landing .brand .my_guhit{
            width: 100%;
            max-width: unset;
            height: 2px;
            display: block;
            background: #fff;
            transform: translate(0px, -4px);
         }
         
    }


    /* footer */
    @media screen and (max-width: 993px) {
        .main #footer .footer_content {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            display: grid;
            padding: 0 20px;    
            column-gap: 30px;
            row-gap: 50px;
            grid-template-columns: 1fr;
        }
        .main #footer .footer_content .seal{
            grid-row: 1/2;
            grid-column: 1/3;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .main #footer .footer_content .seal img{
            height: auto;
            width: 50px;
        }

        .main #footer .footer_content .footer_details {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-auto-flow: row;
            row-gap: 20px;
            grid-row: 2/3;
            grid-column: 1/3;
            width: 100%;
            max-width: 700px;
            margin: 0 auto;
            /* padding: 0 20px; */
        }
        .main #footer .footer_content .last {
            grid-column: 1/3;
            grid-row: 3/4;
        }
    }


    /* all */
    @media screen and (max-width: 576px) {
        #particles-js {
            text-align: center;
            z-index: 0;
            background: #000066;
            height: 381px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .main #footer .footer_content{
            row-gap: 40px;
        }
        .main #footer .footer_content .footer_details {
            grid-template-columns: 1fr;
            grid-template-rows: 80px 200px 160px 77px;
            grid-auto-flow: row;
            row-gap: 20px;
            grid-row: 2/3;
            grid-column: 1/3;
            width: 100%;
            max-width: 700px;
            margin: 0 auto;
            /* padding: 0 20px; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .main #footer .footer_content .logos {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;
        }
        .main #footer .footer_content .logos img.small_logo {
            height: 64px;
            width: 82px;
        }
        .main #footer .footer_content .logos img {
            height: auto;
            width: 60px;
        }
        .main #slider{
            height:100%;
        }
        .main .site-map p{}
    }
